<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RSS Playground</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="/assets/javascripts/app.js"></script>
  <style>
    #map {
      width: 800px;
      height: 600px;
    }
</html>
